body {
    background-color: aliceblue;
}

#header1 {
    color: dodgerblue;

}

#header2 {
    color: crimson;

}

p {
    background-color: lightblue;
}

span {
    font-size: 3em;
    color: goldenrod;
}