<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="static/css/style.css"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>

<h1>IS 601 Website Project - <span>Francisco Alarco</span></h1>

<h2 id="header1">This is a cool topic</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aliquam animi architecto asperiores
    consequatur cupiditate deleniti dolor dolorem dolores dolorum earum eligendi ex excepturi fuga hic in laboriosam
    laudantium magnam minus natus neque nesciunt perferendis perspiciatis possimus, praesentium provident quia quibusdam
    quod reiciendis rem repellat totam ullam veniam vero voluptatibus voluptatum! Ad animi aperiam aspernatur delectus
    ea eaque enim eos eveniet illum in incidunt magni mollitia odio omnis perferendis placeat provident, qui similique
    suscipit temporibus totam ut voluptate. Commodi doloremque et eveniet minima natus neque officia rerum! Magnam odit
    quaerat quibusdam recusandae voluptates? Ad asperiores assumenda, beatae dicta dignissimos doloribus earum eius enim
    explicabo facere ipsam laborum magnam nesciunt perspiciatis possimus quaerat quia quibusdam repellat reprehenderit
    sed sint tempora ullam veniam veritatis vero. Aut debitis doloremque facilis hic ipsa laboriosam nemo placeat
    quaerat quia, velit. Aliquam consequuntur corporis dolorem, doloribus, et hic illo in nobis nulla sed sunt,
    veritatis!</p>

<h2 id="header2">2022 is going to be a great year</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda aut doloribus facilis. Accusamus aliquam
    aperiam delectus dolor dolore dolorem dolorum eaque facere in incidunt iste itaque iure minus mollitia nesciunt
    numquam omnis perferendis porro quae quibusdam quisquam repellendus, saepe sit temporibus tenetur, ullam velit
    voluptates! Animi consectetur dicta doloribus fuga itaque necessitatibus? Accusantium aliquam amet dignissimos
    distinctio magni repellat! Earum itaque molestias pariatur quos sunt! Adipisci cum est iste itaque laudantium, nemo
    odio, perspiciatis quaerat tempore voluptas voluptatibus voluptatum? Blanditiis id obcaecati unde. Accusamus
    aspernatur assumenda, dolore doloribus eaque enim excepturi fuga maiores molestiae, nam recusandae rerum suscipit.
    Atque autem doloremque explicabo iste magni nostrum quis. Amet asperiores enim, illum iusto officiis optio quaerat
    veniam. Dolores, esse iure iusto nam omnis vero? Autem dicta esse eveniet explicabo id ipsam, iure laboriosam natus
    nisi omnis praesentium quae rerum sapiente sed soluta tempore velit! Ad corporis delectus hic praesentium rerum
    voluptatum?</p>


</body>
</html>
